{% extends "tareas/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container my-5">
  <div class="row justify-content-center columna-div">
    <div class="col-md-6">
      <div class="card ">
        <div class="text-center mt-2">
          <h2>Iniciar Sesion</h2>
        </div>
        <div class="card-body">

          <form method="post">
            {% csrf_token %}
            {{ form | crispy }}
            <div class="mt-2 text-center">
              <button type="submit">Iniciar sesión</button>
            </div>

          </form>
          <div class="mt-2 text-center">
            <a href="{% url 'users:registro' %}">¿No tienes cuenta? Registrate</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}