{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,300;10..48,400;10..48,500;10..48,600;10..48,700;10..48,800&family=Dosis:wght@200;300;400;500;600;700;800&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'tareas/css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'tareas/img/fav-tasks.png' %}" type="image/x-icon">
    {% block title %}<title>Lista de tareas</title>{% endblock %}
</head>

<body>

    <header>
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand me-2" href="{% url 'tareas:index' %}">
                    <img src="{% static 'tareas/img/logo1.png' %}" height="40" alt="Logo" loading="lazy"
                        style="margin-top: -1px;" />
                </a>
                <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
                    data-mdb-target="#navbarButtonsExample" aria-controls="navbarButtonsExample" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarButtonsExample">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'tareas:index' %}">Inicio</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'tareas:tareas-pendientes' %}">Mis tareas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'tareas:crear-tarea' %}">Crear una tarea</a>
                        </li>
                        {% endif %}
                    </ul>
                    <div class="d-flex align-items-center">
                        {% if user.is_authenticated %}
                        <a>Bienvenido, {{ user.username }} <a class="btn " href="{% url 'users:logout' %}"
                                role="button">Cerrar Sesion</a></a>

                        {% else %}
                        <a class="btn" href="{% url 'users:login' %}" role="button">Iniciar Sesión</a>
                        <a class="btn btn btn-primary" href="{% url 'users:registro' %}" role="button">Registrarse</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </header>



    {% block content %}

    {% endblock content %}


    <section class="footer">
        <footer class="text-center text-white" style="background-color: #5271FF;">
            <div class="container p-4 pb-0">
                <section class="mb-5 mt-4">
                    <a class="navbar-brand me-2" href="{% url 'tareas:index' %}">
                        <img src="{% static 'tareas/img/logo2.png' %}" height="40" alt="Logo" loading="lazy"
                            style="margin-top: -1px;" />
                    </a>
                </section>
            </div>
            <div class="text-center p-3" style="background-color: #33479F;">
                © 2023 Copyright
                <a class="text-white" href="{% url 'tareas:index' %}">Tasks</a>
            </div>
        </footer>
    </section>

</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
    crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<script src="https://kit.fontawesome.com/aa5922055b.js" crossorigin="anonymous"></script>

</html>