{% extends "tareas/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container my-5">
  <div class="row justify-content-center columna-div">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <div class="text-center">
            <h2>Confirmar Eliminación</h2>
            <p>¿Estás seguro de que deseas eliminar la tarea "{{ tarea.titulo }}"?</p>
          </div>
          <form method="post">
            {% csrf_token %}
            <div class="text-center mt-4">
              <button type="submit" class="btn btn-danger">Eliminar</button>
              <a href="{% url 'tareas:ver-tarea' tarea.id %}" class="btn btn-secondary">Cancelar</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>





{% endblock %}